<?xml version='1.0' encoding='utf-8'?>
<widget id="hu.balazsgrill.miningrigrentals" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MiningRigRentals</name>
    <description>
        Unnoficial mobile application for MiningRigRentals.com
    </description>
    <author email="balage.g@gmail.com" href="https://balazsgrill.github.io/">
        Balázs Grill
    </author>
    <content src="index.html" />
	<access origin="https://www.miningrigrentals.com" />

</widget>
